@import url('~/platform.css');

.app {
	background-color: fafafa;
	font-weight: 400;
	font-size: 14;
}

.material-icon {
	font-size: 32;
	font-family: 'Material-Design-Iconic-Font';
}

.debug {
	background-color: saddlebrown;
}