@import '~/css/core.light.css'; 

@import url('~/platform.css');


.material-icon {
	font-size: 32;
	font-family: 'Material-Design-Iconic-Font';
}

.debug {
	background-color: saddlebrown;
	border-width: 2;
	border-color: red;
}