<ActionBar title="" android.icon="~/images/logo.png" android.iconVisibility="always">
  <ActionItem>
    <FrescoDrawee 
      width="38" 
      height="38"
      roundAsCircle="true"
      [imageUri]="userAvatar">
    </FrescoDrawee>
  </ActionItem>
  <ActionItem text="Item 1" android.position="popup"></ActionItem>
  <ActionItem text="Item 2" android.position="popup"></ActionItem>
  <ActionItem text="Item 3" android.position="popup"></ActionItem>
  <ActionItem text="Item 4" android.position="popup"></ActionItem>
</ActionBar>