.root {
  height: 64;
  padding: 0 16;
}

.root--phone {
  background-color: #fff;
}

.root--tablet {
  background-color: #653e96;
}

.indicator {
  border-radius: 50;
}

.indicator--phone {
  top: 0;
  left: 36;
  width: 10;
  height: 10;
  border-width: 2px;
  border-color: #fff;
}

.indicator--tablet {
  top: 0;
  left: 42;
  width: 6;
  height: 6;
}

.indicator--online {
  background-color: #00ff00;
}

.indicator--offline {
  background-color: #e91e63;
}

.content {
  padding: 0 8;
}

.content--phone {
  color: #000;
}

.content--tablet {
  color: #fff;
}

.name {
  font-size: 14;
  font-weight: 700;
}

.name--phone {
  opacity: 0.87;
}

.name--tablet {
  opacity: 1;
}

.name-label {
  margin-right: 4;
  text-transform: capitalize;
}

.message {
  font-weight: 300;
}

.message--phone {
  opacity: 0.54;
}

.message--tablet {
  opacity: 1;
}

.icon {
  margin-right: 4;
}

.icon--phone {
  color: #512da8;
  opacity: 0.58;
}

.icon--tablet {
  color: #fff;
  opacity: 1;
}

.timestamp {
  width: 64;
  font-size: 12;
  opacity: 0.58;
}

.l-badge {
  margin-right: 4;
}
